node_modules/
dist/
*.zip
*.7z
*.rar
*.log
.env
.env.*
renderer/assets/audio/*.mp3
renderer/assets/audio/*.wav
renderer/assets/audio/*.ogg
renderer/assets/audio/*.flac
!renderer/assets/audio/.gitkeep
